.Tcontainer{
    margin-top: 50vh !important;
}

@media   (max-width: 480px) {

    .Tcontainer {
        margin: 0 10vw 0 8vw;
        margin-top: 40vh !important;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
.HBcontainer {
     margin: 0 10vw 0 8vw;}

}