.Image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("img/cyber.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1; 
  filter: blur(10px);
  opacity: 0.54;
  will-change: transform;
}

@media (max-width: 768px) {
  .Image {
    background-attachment: scroll;
  }
}